.container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.stack {
  margin-top: -20px;
}

.stack > div {
  margin-top: 20px;
}

.buttonContainer {
  position: relative;
  padding-top: 6px;
  padding-bottom: 22px;
}

.button {
  position: absolute;
}
