.container {
  display: flex;
  margin: 12px 0;
}

.messagesContainer {
  margin: 0 12px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.avatarContainer {
  display: flex;
  align-items: flex-end;
  margin: 10px 0;
}

.messagesRight {
  align-items: flex-end;
}

.userText {
  margin: 5px 0;
}
